*{
    margin :0%;
    padding : 0;
    font-family: 'Nunito', sans-serif;
}
.content{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}
.content h1{
    font-size: 56px;
    font-weight: 600;
    font-size: 100px;
}
.cont_row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(width: 450px){
    .cont_row{
        flex-direction: column;
       justify-items: center;
    }
}
.cont_col{
    flex-basis: 31%;
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cont_col h3{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin: 10px 0px;
}
.cont_col:hover{
    box-shadow: 0 0 20px 0 #0b090a;
    background-color: #0d1b2a;
    color: aliceblue;
    cursor: pointer;
}
#cont_col3:hover{
    box-shadow: 0 0 20px 0 #0b090a;
    background-color: #ae2012;
    color: aliceblue;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    background-color: #eee;
    z-index: 3;
    opacity: 0.9;
    margin-top: 35px;;
}
.footer h4{
    margin-bottom: 0px;
    margin-top: 7px;
    font-weight: 600;
}
.footer p{
    margin-bottom: 7px;
}
.icons .fa{
    color: #0b090a;
    margin: 0 5px;
    cursor: pointer;
    padding: 10px 0;
}
.icons .fa:hover{
color: #3a5a40;
}